body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'zen dots';
    background: rgb(114, 63, 63);
    background-image: url('https://source.unsplash.com/1600x900/?city');
    text-align: center;
}
  .app-main {
    background: #0c0c0ce7;
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    max-width: 420px;
    margin: auto;
  }

  .weather-body {
    margin-top: 20px;
    background: #aaaaaa2b;
    color: rgb(255, 255, 255);
    padding: 20px;
    line-height: 3rem;
    border-radius: 10px;
    height: 50vh;

  }
  
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button {
    margin: 0.6em;
    border-radius: 80%;
    border: none;
    height: 46px;
    width: 46px;
    outline: none;
    background: #aaaaaa2b;
    color: white;
    cursor: pointer;
    transition: 0.1s ease-in-out;
  }
  
  input.search-bar {
    border: none;
    outline: none;
    padding: 0.1em 1em;
    border-radius: 20px;
    background: #aaaaaa2b;
    color: white;
    font-family: 'zen dots';
    font-size: 20pt;
    height: 40px;
    width: calc(100% - 100px);
    text-align: center;
  }
  input.search-bar:hover {
    background-color: #cacaca6b;
  }

  button:hover {
    background-color: #cacaca6b;
  }
  h2.city {
      font-size: 25pt;
  }
  h1.temp {
    font-size: 35pt;
    margin: 0;
    margin-bottom: 0.4em;
    text-shadow: 1px 4px rgba(143, 69, 69, 0.6);
    text-align: center;
    align-items: center;
  }
  
  .flex {
    display: flex;
    align-items: center;  
    justify-content: center;
  }
  
  .description {
    text-transform: capitalize;
    margin-left: 0;
    text-align: center;
  }
  
